.container--hello   {
    margin: auto;
    text-align: center;
    background: url(../hello_images/rec.png) center center / cover no-repeat;
    width: 1130px;
    height: 645px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu--hello    {
    opacity: 0;
    animation: rotateIn 0.5s;
    animation-fill-mode: forwards;
}
.hello__pic {
    position: relative;
}
.logo--hello    {
    display: block;
    margin-bottom: 30px;
}
.hello--button  {
    padding: 18px 58px;
    opacity: 0%;
    animation: hello 2s;
    animation-fill-mode: forwards;
}